{% extends '_layout.html' %}

{% block title %} Movies {% endblock %}

{% block content %}
<table>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Summary</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.title }}</td>
        <td>{{ row.genre }}</td>
        <td>{{ row.year }}</td>
        <td>{{ row.summary }}</td>
        <td><a href="/addmov?user_id="{{row.movie_id}}onclick="return confirm('Add to watch list?')">Watched</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('view_user', user_id=session['user_id']) }}">View your account</a>
{% endblock %}